{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'option_home' menu_id=menu_id %}">Options</a>
                </li>
                <li class="breadcrumb-item active">Add</li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Fields
                </div>
                <div class="card-body">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <form class="form-horizontal" action="{{ data.action }}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ data.id }}">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="food_id">Food</label>
                                    <select class="form-control" name="food_id" id="food_id">
                                        <option value="">Select Food</option>
                                        {% for food in foods%}
                                            <option value="{{food.id}}" {% if food.id == data.food_id %} SELECTED {% endif %}>{{food.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-row pt-2">
                                <div class="col-md-6">
                                    <button class="btn btn-primary btn-block" type="submit">Submit<span></span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}