{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Order</li>
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Fields
                </div>
                <div class="card-body">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <form class="form-horizontal" action="{{ data.action }}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ data.id }}">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="details">Document</label>
                                    <input class="form-control" type="text" name="employee_document" value="{{ data.employee_document }}" id="employee_document">
                                </div>
                                <div class="col-md-6">
                                    <label for="details">Name</label>
                                    <input class="form-control" type="text" name="employee_name" value="{{ data.employee_name }}" id="employee_name">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="option_id">Option</label>
                                    <select class="form-control" name="option_id" id="option_id">
                                        <option value="">Select Option</option>
                                        {% for option in options %}
                                            <option value="{{option.id}}" {% if option.id == data.option_id %} SELECTED {% endif %}>{{option.food.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="details">Details</label>
                                    <input class="form-control" type="text" name="details" value="{{ data.details }}" id="details">
                                </div>
                            </div>
                            <div class="form-row pt-2">
                                <div class="col-md-12">
                                    {% if can_order %}
                                        <button class="btn btn-primary btn-block" type="submit">Submit<span></span></button>
                                    {% else %}
                                        <div class="alert alert-warning text-center" role="alert">
                                            You can order until 11 AM CLT
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}